/* -- share styles --  */
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1170px;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section{
    padding: 20px 0;
}
.time-title{
    color: red;
    font-weight: 600;
}
/* ----  header top style here --  */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.header-logo {
    width: 15%;
}

.header-top-content {
    width: 70%;
    display: flex;
}

.header-logo img {
    width: 100%;
}

.header-content-boxs {
    width: 33%;
    display: flex;
    align-items: center;
}

.header-content-boxs img {
    width: 28%;
    height: 50px;
    margin-right: 15px;
}
.header-content-boxs h6{
    width: 70%;
}

/* -- header bottom style here --  */
.header-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e3dede;
    border-bottom: 1px solid #e3dede;
    margin: 20px 0;
}
.navbar{
    width: 50%;
    padding: 17px 0;
}
.menus li{
    list-style: none;
}
.header-link a{
    margin-right: 10px;
    border-left: 1px solid #e3dede;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-right: 5px;
    padding-left: 7px;
}
.header-link a:nth-child(5){
    border-right: 1px solid #e3dede;
}
/* ----- ads banner start here--  */
section.ads-banner img {
    width: 70%;
}

section.ads-banner {
    text-align: center;
}
section.ads-banner {
    padding: 0;
}

/* - left side content style here --  */
.left-side-content{
    width: 65%;
}
.left-side-top {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.left-side-top img {
    width: 100%;
    height: 400px;
    object-fit: fill;
}
.left-side-top h2 {
    position: absolute;
    bottom: 25px;
    font-size: 19px;
    color: white;
    left: 14px;
}

.left-side-boxs{
    width: 49%;
}
.left-side-boxs img {
    width: 100%;
}
.left-side-boxs h5 {
    margin: 8px 0;
}

.left-side-boxs > a >p {
    padding-bottom: 13px;
}


/* --- right-side-content style here --  */
.hero-content-wrap {
    display: flex;
    justify-content: space-between;
}
.right-side-content{
    width: 34%;
    height: 100vh;
}
.right-side-item img {
    width: 40%;
}

.right-side-boxs {
    border-bottom: 1px solid #d6c7c7;
    padding: 18px 0;
}
.right-side-items-bottom > p {
    padding: 21px 0;
}